# Configurações do banco no Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=trycatch_db
POSTGRES_PORT=5555

# URL do banco para a aplicação Next (IMPORTANTE)
# Quando usa Docker Compose, o host é o nome do serviço no docker-compose → "db"
DATABASE_URL=postgresql://postgres:postgres@db:5432/trycatch_db

# Para usar local o nome do serviço deve ser -> localhost
# DATABASE_URL=postgresql://[postgres_user]:[postgres_password]@localhost:5555/trycatch_db

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=coloque_um_segredo_forte_aqui

