# Usuário e senha do banco de dados (usado tanto localmente quanto no Docker)
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pasword
POSTGRES_DB=trycatch_db
POSTGRES_PORT=5555

# JWT e NextAuth
JWT_SECRET=439afb6b5b0d63bacffee8536f99f749b7eccc28ce246e30f7a4e79291e9a34d
NEXTAUTH_SECRET=439afb6b5b0d63bacffee8536f99f749b7eccc28ce246e30f7a4e79291e9a34d
NEXTAUTH_URL=http://localhost:3000/

# 👉 Banco rodando no Docker (comente o de baixo e descomente este ao usar Docker)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

# 👉 Banco rodando localmente (comente este ao usar Docker)
# DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"