POSTGRES_USER=exemplo_user
POSTGRES_PASSWORD=exemplo-password-db
POSTGRES_DB=exemplo_nome_db
POSTGRES_PORT=5555
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}